{% extends 'base.html.twig' %}

{% block body %}

    <!--

~~~~~~~~~Start of the main content~~~~~~~~~~~~~

-->

    <!-- Allow a boxed content -->
    <div class="container">

        <!-- First section with the history of the agency -->
        <section class="clearfix">
            <h2 class="m-y-2">15 ans d'existence</h2>
            <article>
                <figure class="pull-sm-left">
                    <img src="{{ asset("template/img/director_small.jpg") }}" alt="Marc Hess directeur de lille immo" class="img-fluid hidden-sm-up m-b-1">
                    <img src="{{ asset("template/img/director_medium.jpg") }}" alt="Marc Hess directeur de lille immo" class="img-fluid hidden-xs-down hidden-lg-up m-r-1 m-b-1">
                    <img src="{{ asset("template/img/director_large.jpg") }}" alt="Marc Hess directeur de lille immo" class="img-fluid hidden-md-down m-r-1 m-b-1">
                    <figcaption class="figure-caption text-xs-center">Serigne Khalifa directeur et fondateur.</figcaption>
                </figure>
                <h3>Des agences aux services des clients</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend eros urna, quis auctor justo porttitor non. Nullam dignissim blandit ligula, id gravida velit tempus sit amet. Mauris quis placerat tellus.
                    Aenean blandit, orci ac hendrerit efficitur, erat lacus facilisis nisl, et blandit lorem odio vitae urna. Morbi nec massa at diam pretium venenatis a a odio. Curabitur molestie non justo ut pharetra.
                    Fusce maximus gravida dapibus. Phasellus gravida aliquet risus eu viverra.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend eros urna, quis auctor justo porttitor non. Nullam dignissim blandit ligula, id gravida velit tempus sit amet. Mauris quis placerat tellus.
                    Aenean blandit, orci ac hendrerit efficitur, erat lacus facilisis nisl, et blandit lorem odio vitae urna. Morbi nec massa at diam pretium venenatis a a odio. Curabitur molestie non justo ut pharetra.
                    Fusce maximus gravida dapibus. Phasellus gravida aliquet risus eu viverra.</p>
            </article>
        </section>

        <!-- Second section with the values of the agency -->
        <section class="clearfix">
            <h2 class="m-y-2">Le bon logement pour la bonne personne</h2>
            <article>
                <figure class="pull-sm-right">
                    <img src="{{ asset("template/img/family_small.jpg") }}" alt="Marc Hess directeur de lille immo" class="img-fluid hidden-sm-up m-b-1">
                    <img src="{{ asset("template/img/family_medium.jpg") }}" alt="Marc Hess directeur de lille immo" class="img-fluid hidden-xs-down hidden-lg-up m-l-1 m-b-1">
                    <img src="{{ asset("template/img/family_large.jpg") }}" alt="Marc Hess directeur de lille immo" class="img-fluid hidden-md-down m-l-1 m-b-1">
                </figure>
                <h3>Nos engagements</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend eros urna, quis auctor justo porttitor non. Nullam dignissim blandit ligula, id gravida velit tempus sit amet. Mauris quis placerat tellus.
                    Aenean blandit, orci ac hendrerit efficitur, erat lacus facilisis nisl, et blandit lorem odio vitae urna. Morbi nec massa at diam pretium venenatis a a odio. Curabitur molestie non justo ut pharetra.
                    Fusce maximus gravida dapibus. Phasellus gravida aliquet risus eu viverra.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend eros urna, quis auctor justo porttitor non. Nullam dignissim blandit ligula, id gravida velit tempus sit amet. Mauris quis placerat tellus.
                    Aenean blandit, orci ac hendrerit efficitur, erat lacus facilisis nisl, et blandit lorem odio vitae urna. Morbi nec massa at diam pretium venenatis a a odio. Curabitur molestie non justo ut pharetra.
                    Fusce maximus gravida dapibus. Phasellus gravida aliquet risus eu viverra.</p>
            </article>
        </section>

        <!-- Image gallery to present the lead team. External plugin, see yoxview plugin -->
        <section>
            <h2>Notre équipe dirigeante</h2>
            <p>Ceux sont eux, avec tant d'autres, qui font de Lille Immo une agence d'exception au service de ses clients. Vous pourrez décourvrir l'ensemble de nos équipes vous visitant nos <a href="agences.html">agences</a></p>
            <figure class="yoxview gallery">
                <a href="{{ asset("template/img/gallery/employe_un.jpg") }}"><img src="{{ asset("template/img/gallery/employe_un_thumbnail.jpg") }}" alt="directeur commercial" title="Vincent Noeulin, directeur commercial" class="img-fluid hidden-md-down"/><img src="{{ asset("template/img/gallery/employe_un_medium_thumbnail.jpg") }}" alt="directeur commercial" title="Vincent Noeulin, directeur commercial" class="img-fluid hidden-xs-down hidden-lg-up"/><img src="{{ asset("template/img/gallery/employe_un_small_thumbnail.jpg") }}" alt="directeur commercial" title="Vincent Noeulin, directeur commercial" class="img-fluid hidden-sm-up"/></a>
                <a href="{{ asset("template/img/gallery/employe_fem_un.jpg") }}"><img src="{{ asset("template/img/gallery/employe_fem_un_thumbnail.jpg") }}" alt="responsable rh" title="Christine Bar, responsable RH" class="img-fluid hidden-md-down"/><img src="{{ asset("template/img/gallery/employe_fem_un_medium_thumbnail.jpg") }}" alt="responsable rh" title="Christine Bar, responsable RH" class="img-fluid hidden-xs-down hidden-lg-up"/><img src="{{ asset("template/img/gallery/employe_fem_un_small_thumbnail.jpg") }}" alt="responsable rh" title="Christine Bar, responsable RH" class="img-fluid hidden-sm-up"/></a>
                <a href="{{ asset("template/img/gallery/employe_deux_full_medium.jpg") }}"><img src="{{ asset("template/img/gallery/employe_deux_thumbnail.jpg") }}" alt="directeur" title="Louis Dupont créateur et fondateur de Lille Immo" class="img-fluid hidden-md-down"/><img src="{{ asset("template/img/gallery/employe_deux_medium_thumbnail.jpg") }}" alt="directeur" title="Louis Dupont créateur et fondateur de Lille Immo" class="img-fluid hidden-xs-down hidden-lg-up"/><img src="{{ asset("template/img/gallery/employe_deux_small_thumbnail.jpg") }}" alt="directeur" title="Louis Dupont créateur et fondateur de Lille Immo" class="img-fluid hidden-sm-up"/></a>
                <a href="{{ asset("template/img/gallery/employe_fem_deux.jpg") }}"><img src="{{ asset("template/img/gallery/employe_fem_deux_thumbnail.jpg") }}" alt="experte bien immobiliers" title="Sophie Duquenes, experte biens immobiliers" class="img-fluid hidden-md-down"/><img src="{{ asset("template/img/gallery/employe_fem_deux_medium_thumbnail.jpg") }}" alt="experte bien immobiliers" title="Sophie Duquenes, experte biens immobiliers" class="img-fluid hidden-xs-down hidden-lg-up"/><img src="{{ asset("template/img/gallery/employe_fem_deux_small_thumbnail.jpg") }}" alt="experte bien immobiliers" title="Sophie Duquenes, experte biens immobiliers" class="img-fluid hidden-sm-up"/></a>
            </figure>
        </section>


    </div>


    <!--

    ~~~~~~~~~End of the main content~~~~~~~~~~~~~

    -->

{% endblock %}