{% extends 'base.html.twig' %}

{% block title %}Achat de Bien{% endblock %}

{% block body %}
<!--

~~~~~~~~~Start of the main content~~~~~~~~~~~~~

-->

<!-- Start of section with boxed content -->

<section class="container">

    <h2>La Liste de Vos Bien</h2>


    <!-- Top green bar with search form -->
    <div class="container-fluid top_search p-x-1 p-y-1 m-b-3">

        <form>
            <div class="form-group m-x-1">
                <select class="form-control">
                    <option>-Bien recherché-</option>
                    <option>Maison</option>
                    <option>Appartement</option>
                    <option>Studio</option>
                    <option>Loft</option>
                </select>
            </div>
            <div class="form-group m-x-1">
                <select class="form-control">
                    <option>-Surface-</option>
                    <option>- de 50m2</option>
                    <option> 50 - 70 m2</option>
                    <option> 70 - 100 m2</option>
                    <option> 100 - 150 m2</option>
                    <option> 150 - 200 m2</option>
                    <option> + de 200 m2</option>
                </select>
            </div>
            <div class="form-group m-x-1">
                <input class="form-control" type="text" placeholder="Ville(s)">
            </div>
            <div class="form-group m-x-1">
                <select class="form-control">
                    <option>-Budget mensuel-</option>
                    <option>- 400</option>
                    <option>400 à 500</option>
                    <option>500 à 700</option>
                    <option>700 à 1000</option>
                    <option>1000 à 1500</option>
                    <option>+ 1500</option>
                </select>
            </div>
            <div class="form-group m-x-1">
                <select class="form-control">
                    <option>-Extérieur-</option>
                    <option>Jardin</option>
                    <option>Balcon</option>
                    <option>Indifférent</option>
                </select>
            </div>
        </form>
        <button type="submit" class="btn" id="find_button">Trouver mon bien</button>

    </div>

    <!-- Cards search results -->



    {% for bien in bi %}
        <tr>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <article class="card">
                    <div class="card-block text-xs-center head">
                        <td><h4 class="card-title">{{ bien.nomBien }}</h4></td>
                        <td><h6 class="card-subtitle">{{ bien.prix }}Cfa /mois</h6></td>
                    </div>
                    <figure>
                        <img src="{{ asset("template/img/house_small.jpg") }}" class="img-fluid hidden-sm-up" alt="maison bleu à vendre">
                        <img src="{{ asset("template/img/house_medium.jpg") }}" class="img-fluid hidden-xs-down hidden-lg-up" alt="maison bleue à vendre">
                        <img src="{{ asset("template/img/house_large.jpg") }}" class="img-fluid hidden-md-down" alt="maison bleu à vendre">
                    </figure>
                    <td class="card-block text-xs-center">
                    <td> <p class="card-text">{{ bien.description }}</p></td>
                    <figure class="description">
                        <td><span><i class="fa fa-bed" aria-hidden="true"></i>  {{ bien.nombrePieces }} Chambres</span></td>
                        <td><span><i class="fa fa-square" aria-hidden="true"></i>  {{ bien.surface }} m2</span></td>
                        <td><span><i class="fa fa-tint" aria-hidden="true"></i>   {{ bien.ville }}</span></td>
                    </figure>
                    <td><a href="{{ path('bien.show', {id: bien.id}) }}" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a></td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td><a href="{{ path('bien.edit', {id: bien.id}) }}" class="card-link"><i class="fa fa-edit m-r-1" aria-hidden="true"></i>editer</a></td>
                        <td><form method="post" action="{{ path('bien.delete', {id: bien.id}) }}" style="display:inline-block">
                                <input type="hidden" name="method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form></td>
                    {% endif %}
                </article>
            </div>

        </tr>
    {% endfor %}
    <!--div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="card">
                <div class="card-block text-xs-center head">
                    <h4 class="card-title">T4 arboré</h4>
                    <h6 class="card-subtitle">Croix, 700/mois</h6>
                </div>
                <figure>
                    <img src="img/apartement_small.jpg" class="img-fluid hidden-sm-up" alt="appartement à vendre">
                    <img src="img/apartement_medium.jpg" class="img-fluid hidden-xs-down hidden-lg-up" alt="appartement à vendre">
                    <img src="img/apartement_large.jpg" class="img-fluid hidden-md-down" alt="appartement à vendre">
                </figure>
                <div class="card-block text-xs-center">
                    <p class="card-text">Bel appartement de charme avec une vue exceptionnel sur l'hippodrome, proche commodités et transports.</p>
                    <figure class="description">
                        <span><i class="fa fa-bed" aria-hidden="true"></i>  2 chambres</span>
                        <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  Balcon</span>
                        <span><i class="fa fa-tint" aria-hidden="true"></i>   2 SDB</span>
                    </figure>
                    <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
                </div>
            </article>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="card">
                <div class="card-block text-xs-center head">
                    <h4 class="card-title">Belle maison</h4>
                    <h6 class="card-subtitle">Comines, 1100/mois</h6>
                </div>
                <figure>
                    <img src="img/house_small.jpg" alt="maison bleu à vendre" class="img-fluid hidden-sm-up">
                    <img src="img/house_medium.jpg" alt="maison bleue à vendre" class="img-fluid hidden-xs-down hidden-lg-up">
                    <img src="img/house_large.jpg" alt="maison bleu à vendre" class="img-fluid hidden-md-down">
                </figure>
                <div class="card-block text-xs-center">
                    <p class="card-text">Située dans un quartier calme et arboré, cette maison avec ses 4 chambres est idéale pour une famille.</p>
                    <figure class="description">
                        <span><i class="fa fa-bed" aria-hidden="true"></i>  3 chambres</span>
                        <span><i class="fa fa-tree" aria-hidden="true"></i>  Jardin</span>
                        <span><i class="fa fa-tint" aria-hidden="true"></i>   2 SDB</span>
                    </figure>
                    <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
                </div>
            </article>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="card">
                <div class="card-block text-xs-center head">
                    <h4 class="card-title">Loft d'artiste</h4>
                    <h6 class="card-subtitle">Roubaix, 1000/mois</h6>
                </div>
                <figure>
                    <img src="img/loft_small.jpg" alt="maison bleu à vendre" class="img-fluid hidden-sm-up">
                    <img src="img/loft_medium.jpg" alt="maison bleue à vendre" class="img-fluid hidden-xs-down hidden-lg-up">
                    <img src="img/loft_large.jpg" alt="maison bleu à vendre" class="img-fluid hidden-md-down">
                </figure>
                <div class="card-block text-xs-center">
                    <p class="card-text">Ce loft fraîchement rénové vous offre plus de 200 m2 d'une surface agréable à vivre en toute saison. Un must !</p>
                    <figure class="description">
                        <span><i class="fa fa-bed" aria-hidden="true"></i>  4 chambres</span>
                        <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  Terrasse</span>
                        <span><i class="fa fa-tint" aria-hidden="true"></i>   3 SDB</span>
                    </figure>
                    <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
                </div>
            </article>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="card">
                <div class="card-block text-xs-center head">
                    <h4 class="card-title">T4 arboré</h4>
                    <h6 class="card-subtitle">Croix, 700/mois</h6>
                </div>
                <figure>
                    <img src="img/apartement_small.jpg" class="img-fluid hidden-sm-up" alt="appartement à vendre">
                    <img src="img/apartement_medium.jpg" class="img-fluid hidden-xs-down hidden-lg-up" alt="appartement à vendre">
                    <img src="img/apartement_large.jpg" class="img-fluid hidden-md-down" alt="appartement à vendre">
                </figure>
                <div class="card-block text-xs-center">
                    <p class="card-text">Bel appartement de charme avec une vue exceptionnel sur l'hippodrome, proche commodités et transports.</p>
                    <figure class="description">
                        <span><i class="fa fa-bed" aria-hidden="true"></i>  2 chambres</span>
                        <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  Balcon</span>
                        <span><i class="fa fa-tint" aria-hidden="true"></i>   2 SDB</span>
                    </figure>
                    <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
                </div>
            </article>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="card">
                <div class="card-block text-xs-center head">
                    <h4 class="card-title">Belle maison</h4>
                    <h6 class="card-subtitle">Comines, 1100/mois</h6>
                </div>
                <figure>
                    <img src="img/house_small.jpg" alt="maison bleu à vendre" class="img-fluid hidden-sm-up">
                    <img src="img/house_medium.jpg" alt="maison bleue à vendre" class="img-fluid hidden-xs-down hidden-lg-up">
                    <img src="img/house_large.jpg" alt="maison bleu à vendre" class="img-fluid hidden-md-down">
                </figure>
                <div class="card-block text-xs-center">
                    <p class="card-text">Située dans un quartier calme et arboré, cette maison avec ses 4 chambres est idéale pour une famille.</p>
                    <figure class="description">
                        <span><i class="fa fa-bed" aria-hidden="true"></i>  3 chambres</span>
                        <span><i class="fa fa-tree" aria-hidden="true"></i>  Jardin</span>
                        <span><i class="fa fa-tint" aria-hidden="true"></i>   2 SDB</span>
                    </figure>
                    <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
                </div>
            </article>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="card">
                <div class="card-block text-xs-center head">
                    <h4 class="card-title">Loft d'artiste</h4>
                    <h6 class="card-subtitle">Roubaix, 1000/mois</h6>
                </div>
                <figure>
                    <img src="img/loft_small.jpg" alt="maison bleu à vendre" class="img-fluid hidden-sm-up">
                    <img src="img/loft_medium.jpg" alt="maison bleue à vendre" class="img-fluid hidden-xs-down hidden-lg-up">
                    <img src="img/loft_large.jpg" alt="maison bleu à vendre" class="img-fluid hidden-md-down">
                </figure>
                <div class="card-block text-xs-center">
                    <p class="card-text">Ce loft fraîchement rénové vous offre plus de 200 m2 d'une surface agréable à vivre en toute saison. Un must !.</p>
                    <figure class="description">
                        <span><i class="fa fa-bed" aria-hidden="true"></i>  4 chambres</span>
                        <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  Terrasse</span>
                        <span><i class="fa fa-tint" aria-hidden="true"></i>   3 SDB</span>
                    </figure>
                    <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
                </div>
            </article>
        </div>

    </div-->

</section>

<!--

~~~~~~~~~End of the main content~~~~~~~~~~~~~
-->

{% endblock %}