{% extends 'base.html.twig' %}

{% block title %}Hello ContratController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="color: black">Liste des contrats</h2>
    <table class="table table-info">
        <tr>
            <th>Numero contrat</th>
            <th>Type de Transaction</th>
            <th>Nom du Bien Immobilier</th>
            <th>Numero du Bien Immobilier</th>
            <th>Nom du Client</th>
            <th>Prenom Client</th>
        </tr>
            {% for contrat in contrats %}
        <tr>


                <td>{{ contrat.numeroContrat }}</td>

                <td>{{ contrat.transaction }}</td>


                <td>{{ contrat.bienImmobilier.nomBien }}</td>

                <td>{{ contrat.bienImmobilier.numeroBi }}</td>


                <td>{{ contrat.client.nom }}</td>

                <td>{{ contrat.client.prenom }}</td>
        </tr>
            {% endfor %}

            </table>
    </div>
{% endblock %}
